<appSettings>
  <add key="MailServer" value="dev-smtp.vidly.com"/>
  <add key="GoogleClientId" value="453175882285-2nqmu7e45p8romrfi5vj3spjuelqj4ic.apps.googleusercontent.com" />
  <add key="GoogleClientSecret" value="cF0DuF1AKXI3umEA9gcXDq-Q" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>